:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.board-container{
    max-width: 960px;
    margin: 0 auto;
}

section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    display: flex;
    justify-content: center;
    position: relative;
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title, .board-title-input{
    /*margin: 13px;*/
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle, .board-title-input{
    display: inline-block;
}

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-around;*/
    /*align-items: stretch;*/
    overflow: scroll;
}

.board-column{
    padding: 10px;
    flex: 0 0 content;
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    /*flex-basis: 250px;*/
}

.board-column-content{
    min-height: 49px;
    /*min-width: 150px;*/
    /*max-width: 250px;*/
    width: 200px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;
    /*min-width: 150px;*/
    /*max-width: 250px;*/
    width: 200px;
}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.card-title-input {
    background: #222;
}

.board-column:nth-of-type(1) .card, .board-column:nth-of-type(1) .card-title-input{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card, .board-column:nth-of-type(2) .card-title-input{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card, .board-column:nth-of-type(3) .card-title-input{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card, .board-column:nth-of-type(4) .card-title-input{
    background: var(--status-4);
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}

.board-title {
    position: relative;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.board-title-input {
    position: relative;
    left: 13px;
    display: none;
    width: 150px;
    top: 50%;
    transform: translateY(-50%);
    /*width: 0;*/
    /*transition: width 1s;*/
}

.board-title-input:focus {
    /*width: 150px;*/
    outline-color: #0b8eff;
}

.board-title-input:not(:focus) {
    /*width: 0;*/
}

.board-title-container {
    display: inline-block;
    position: relative;
    height: 50px;
    border: 0px solid black;
}

.board-buttons-container {
    flex-grow: 10;
    display: inline-block;
    height: 50px;
    border: 0px solid black;
}

.board-add {
    position: relative;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.board-column-title {
    position: relative;
    /*left: 13px;*/
    top: 50%;
    transform: translateY(-50%);
}

.board-column-title-container {
    display: inline-block;
    position: relative;
    height: 20px;
    border: 0px solid black;
}

.board-column-title-input {
    position: relative;
    text-align: center;
    /*left: 13px;*/
    display: none;
    width: 180px;
    top: 50%;
    height: 12px;
    transform: translateY(-50%);
    /*width: 0;*/
    /*transition: width 1s;*/
}

.board-column-title-input:focus {
    /*width: 150px;*/
    outline-color: #0b8eff;
}

.card-title {
    position: relative;
    /*left: 13px;*/
    top: 50%;
    transform: translateY(-50%);
}

.card-title-container {
    display: inline-block;
    position: relative;
    height: 20px;
    border: 0px solid black;
}

.card-title-input {
    position: relative;
    /*left: 13px;*/
    display: none;
    color: white;
    width: 150px;
    top: 50%;
    height: 15px;
    transform: translateY(-50%);

    /*width: 0;*/
    /*transition: width 1s;*/
}

.card-title-input:focus {
    /*width: 150px;*/
    outline-color: #0b8eff;
}